<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1.0, user-scalable=yes">
    <script src="http://cdn.kendostatic.com/2014.3.1314/js/angular.min.js"></script>
    <script src="bower_components/webcomponentsjs/webcomponents.js"></script>
    <link rel="import" href="bower_components/core-list/core-list.html">
    <link rel="import" href="k/k-datepicker.html" />
    <link rel="stylesheet" href="kendo/css/web/kendo.common.min.css" shim-shadowdom />
    <link rel="stylesheet" href="kendo/css/web/kendo.default.min.css" shim-shadowdom />
    <script src="bower_components/ng-polymer-elements/ng-polymer-elements.min.js"></script>
    <style>
      body {
        font: 12px arial,sans-serif;
      }
    </style>
  </head>
  <body unresolved touch-action="auto" ng-app="app" ng-controller="MyCtrl">
  <k-datepicker id="datepicker" ng-model="datePickerValue"></k-datepicker>

  Selected date<span>{{datePickerValue}}</span>

  <button ng-click="add()">add</button>
  <button ng-click="change()">change first</button>

  <core-list ng-model="items" style="width: 1000px;height: 100px;">
     <template>
     <div>
         <div>{{model.name}}</div>
         <input ng-model="model.name">
         <k-datepicker ng-model="model.date"></k-datepicker>
    </div>
     </template>
  </core-list>

   <script>
       document.getElementById("datepicker").addEventListener("change", function(e) {
           console.log(this.value);
       });

       angular.module('ng-polymer-elements').constant('$ngPolymerMappings', {
           kDatepicker: {
              ngModel: {
                 primitive: 'value'
              }
          },
          coreList: {
            ngModel: {
                primitive: 'data'
            },
            ngTap: {
                event: 'core-activate'
            }
        }
       });

       angular.module("app", ["kendo.directives","ng-polymer-elements"]).controller("MyCtrl", function($scope) {
           $scope.datePickerValue = new Date();
           $scope.items = [ { name: "John Doe" }, { name: "Jane Doe" } ];
           $scope.add = function() {
               $scope.items.push( { name: "Add at " + new Date } );
           };
           $scope.change = function() {
               $scope.items[0].name = "Update at" + new Date();
           };
       });

   </script>
  </body>
</html>
